# Ignore everything
**

# Allow required files
!bot/package.json
!bot/package-lock.json
!bot/tsconfig.json
!bot/src/*.ts
!bot/src/structs/*.ts
!bot/src/structs/Update/*.ts
!bot/src/structs/save/*.ts
!bot/src/commands/*.ts
!bot/bin/discord-gamestatus.js
!bot/scripts/start.sh

!scheduler/Cargo.lock
!scheduler/Cargo.toml
!scheduler/.cargo/config.toml
!scheduler/src/*.rs
