/*

!.github
!scheduler
!bot
!docker

!package.json
!package-lock.json
!.gitignore
!.eslintrc.json
!.pre-commit-config.yaml
!LICENSE
!README.md
!CONTRIBUTING.md
!CHANGELOG.md
!docker-compose.yml
!.env.example
!.dockerignore
!Cargo.toml
!Cargo.lock
!clippy.toml
!run-tests.mjs

scheduler/target
bot/dist
