/*

!.github
!bin
!src
!scripts

!.dockerignore
!.env.example
!.sqlfluff
!.eslintrc.json
!.gitignore
!Dockerfile
!docker-compose.yml
!LICENSE
!package*.json
!README.md
!requirements.txt
!tsconfig.json
