/*

!.github
!scripts
!src
!bin
!scheduler
scheduler/target

!.gitignore
!.eslintrc.json
!.sqlfluff
!requirements.txt
!LICENSE
!package*.json
!README.md
!tsconfig.json
!Dockerfile
!docker-compose.yml
!.env.example
!.dockerignore
